{% extends "base.html" %}
{% load custom_filters %}
{% block content %}
<h1>Календарь (Неделя)</h1>

<div>
    <a href="?view=week&year={{ year }}&month={{ month }}&day={{ day|add:'-7' }}"><< Предыдущая неделя</a>
    <span>{{ year }} - Неделя {{ day }}</span>
    <a href="?view=week&year={{ year }}&month={{ month }}&day={{ day|add:'7' }}">Следующая неделя >></a>
</div>

<table>
    <thead>
        <tr>
            <th>Дата</th>
            <th>Мероприятия</th>
        </tr>
    </thead>
    <tbody>
        {% for day in dates %}
        <tr>
            <td>{{ day|date:"d.m.Y" }}</td>
            <td>
                {% if events|dict_key:day %}
                    <ul>
                        {% for event in events|dict_key:day %}
                            <li>{{ event.title }}</li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <span>Нет мероприятий</span>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
